.ourproduction {
  display: flex;
  height: 840px;
  flex-direction: column;
}

.ourproduction__title {
  display: flex;

  &_icon {
    width: 30px;
    height: 30px;
  }

  &_text {
    @extend %font;
    @include font($size: 4.8rem, $height: 62.4px, $weight: normal, $style: normal);
  }
}

.ourproduction__photos {
  display: grid;
}