.preimuschestva {
  display: flex;
  flex-direction: column;
}

.preimuschestva__title {
  display: flex;
  align-items: center;
  margin: 112px auto 0 264px;


  &_icon {
    margin: 0 21px 0 0;
    width: 30px;
    height: 30px;
  }

  &_text {
    @extend %font-bold;
    @include font($size: 4.8rem, $height: 62.4px, $weight: bold, $style: normal);
  }
}

.preimuschestva__features {
  display: flex;
  margin: 56px 264px 112px 264px;
  gap: 80px;
}

.preimuschestva__feature {
  display: flex;
  flex-direction: column;
  width: 296px;

  &_title_top {
    margin-top: 30px;
    @extend %font-bold;
    @include font($size: 2.8rem, $height: 33.6px, $weight: bold, $style: normal);
  }

  &_title_bot {
    @extend %font-bold;
    @include font($size: 2.8rem, $height: 33.6px, $weight: bold, $style: normal);
  }

  &_text {
    margin-top: 12px;
    color: $color-darkgrey;
    @extend %font-italic;
    @include font($size: 1.6rem, $height: 21.6px, $weight: normal, $style: italic);
  }
}

.preimuschestva__feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 5px;
  background: linear-gradient(180deg, #F19F00 0%, rgba(241, 159, 0, 0.6) 100%);
  &:hover {
    opacity: 0.8;
  }
}

