$color-navbar: rgba(0, 0, 0, 0.85);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-brand: #F19F00;
$color-hover: #FFB82D;
$color-concrete: #5A6479;
$color-darkgrey: #616161;
$color-grey-background: #F5F5F5;
$color-grey-hover:  #EEEEEE;
$color-border: #EAEAEA;
$color-placeholder: #DFDFDF;